In [8]:
import pandas as pd


df1 = pd.read_csv('C:/Users/Eli/Desktop/DATA/Activiteit_vereist_contact.csv')
df2 = pd.read_csv('C:/Users/Eli/Desktop/DATA/Activiteitscode.csv')
df3 = pd.read_csv('C:/Users/Eli/Desktop/DATA/Contact.csv')

In [9]:
filtered_contacts = df1[~df1['crm_ActiviteitVereistContact_ActivityId'].isin(df2['crm_ActiviteitsCode_Activiteitscode'])]
filtered_contacts2 = df1[~df1['crm_ActiviteitVereistContact_ReqAttendee'].isin(df3['crm_Contact_Persoon_ID'])]

,crm_FinancieleData_OndernemingID,crm_FinancieleData_Boekjaar,crm_FinancieleData_Aantal_maanden,crm_FinancieleData_Toegevoegde_waarde,crm_FinancieleData_FTE,crm_FinancieleData_Gewijzigd_op
2115,02E2C17D-A213-E211-9DAA-005056B06EB4,2010,12.0,NaN,0,15-10-2018 02:10:25
65945,5C161136-A768-E111-B43A-00505680000A,2009,NaN,NaN,0,15-10-2018 10:59:06
97912,8AC9D862-9668-E111-B43A-00505680000A,2003,NaN,NaN,"92,7",6-2-2019 09:06:55
157087,DFAAE601-1969-E111-B43A-00505680000A,2007,NaN,NaN,"4,3",6-2-2019 11:46:28

In [3]:
df2

,crm_Account_Account,crm_Account_Adres_Geografische_regio,crm_Account_Adres_Geografische_subregio,crm_Account_Adres_Plaats,crm_Account_Adres_Postcode,crm_Account_Adres_Provincie,crm_Account_Industriezone_Naam_,crm_Account_Is_Voka_entiteit,crm_Account_Ondernemingsaard,crm_Account_Ondernemingstype,crm_Account_Oprichtingsdatum,crm_Account_Primaire_activiteit,crm_Account_Reden_van_status,crm_Account_Status,crm_Account_Voka_Nr_,crm_Account_Adres_Land
0,00002561-6762-EC11-8F8F-000D3A2E7738,Mechelen-Kempen,Kempen-West,Herentals,2200,Antwerpen,NaN,Nee,NaN,Bedrijf,8-9-2013,NaN,Actief,Actief,291484,België
1,00002DAC-0A69-E111-B43A-00505680000A,Oost-Vlaanderen,Oudenaarde,BEVERE,9700,Oost-Vlaanderen,NaN,Nee,Diensten,Bedrijf,2-10-1989,Overige industrie & diensten,Actief,Actief,128093,België
2,00002F96-DC68-E111-B43A-00505680000A,Limburg,Oost Limburg,KINROOI,3640,Limburg,NaN,Nee,NaN,Bedrijf,17-2-1999,NaN,Actief,Actief,166644,België
3,00005967-2959-E411-8F25-005056B06EB4,Vlaams-Brabant,Regio West Side,HALLE,1500,Vlaams-Brabant,NaN,Nee,NaN,Bedrijf,NaN,Financiële diensten,Inactief,Inactief,217534,België
4,00006DCD-DF68-E111-B43A-00505680000A,West-Vlaanderen,Roeselare/Tielt,EMELGEM,8870,West-Vlaanderen,NaN,Nee,NaN,Bedrijf,27-12-2001,Technologische industrie & diensten,Inactief,Inactief,81445,België
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289049,FFFF2E96-DC68-E111-B43A-00505680000A,Vlaams-Brabant,Regio Hageland,Molenstede,3294,Vlaams-Brabant,VB - Industriezone Molenstede,Nee,NaN,Bedrijf,5-5-2010,NaN,Actief,Actief,181793,België
289050,FFFF6CCD-DF68-E111-B43A-00505680000A,Brusselse metropool,Brussels Hoofdstedelijk Gewest,Brussel,1000,Brussels Hoofdstedelijk Gewest,NaN,Nee,NaN,Bedrijf,29-6-1963,NaN,Inactief,Inactief,89293,België
289051,FFFF8A20-801E-E211-9A2B-005056B06EC4,NaN,NaN,LINT,2547,NaN,NaN,Nee,NaN,Bedrijf,NaN,NaN,Inactief,Inactief,204469,België
289052,FFFF8DBC-B567-E111-A00F-00505680000A,Antwerpen-Waasland,Antwerpen,ANTWERPEN,2000,Antwerpen,NaN,Nee,NaN,Bedrijf,18-4-1986,NaN,Inactief,Inactief,49246,België
289053,FFFFAF46-AD68-E111-B43A-00505680000A,Antwerpen-Waasland,Antwerpen,Aartselaar,2630,Antwerpen,NaN,Nee,NaN,Bedrijf,NaN,NaN,Inactief,Inactief,68219,België

In [4]:
df3

,Persoon_ID,Persoonnr,Status_Persoon,Marketing_Communicatie
0,000025F6-EF15-EE11-8F6D-6045BD895420,596398,Actief,Strikt
1,00004BCD-BD69-E111-B43A-00505680000A,320520,Inactief,Flexibel
2,00005D29-3224-E311-8A47-005056B06EC4,378241,Inactief,Flexibel
3,00006033-9469-E111-B43A-00505680000A,343308,Actief,Flexibel
4,0000628D-6169-E111-B43A-00505680000A,325745,Actief,Flexibel
...,...,...,...,...
580976,FFFFB3B0-EF58-E311-BBFD-005056B06EB4,382711,Actief,Flexibel
580977,FFFFD240-FF67-E111-A00F-00505680000A,125137,Inactief,Flexibel
580978,FFFFD3E4-0768-E111-A00F-00505680000A,145456,Actief,Flexibel
580979,FFFFD74F-F067-E111-A00F-00505680000A,96987,Inactief,Flexibel
580980,FFFFF956-2D7C-EB11-811A-001DD8B72B61,527520,Actief,Strikt